

body {
	font-family: 'Play', 'Arial', 'serif';
	font-size: 16px;
	color: #FFFFFF;
	background: url(sors-splash-image.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
	margin: 0;
	min-width: 20em;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Orbitron', sans-serif;
	margin: 0em 0 0.1em 0;
}

h2 {

	color: #00FF22;
}

a {
	color: #FCFF0A;
	text-decoration: none;

}

.sors {
		    font-family: 'borg_9regular';
		    font-size: 6em;
		    color: #0BEEFE;
}

.sors-small {
		    font-family: 'borg_9regular';
		    font-size: 1em;
		    color: #0BEEFE;
}

@font-face {
	    font-family: 'borg_9regular';
    src: url('borg9-webfont.eot');
    src: url('borg9-webfont.eot?#iefix') format('embedded-opentype'),
         url('borg9-webfont.woff') format('woff'),
         url('borg9-webfont.ttf') format('truetype'),
         url('borg9-webfont.svg#borg_9regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.content {
	padding: 2em;
	margin: 0 auto;
	width: 60%;
	@include border-box;

	.main {
		@include clearfix;
	}

	.aside {
		img {
			max-width: 100%;
		}
	}
}


.logo-sors {
 	max-width: 100%;
 	height:auto;
 	width: auto\9; /* ie8 */
	border-bottom: 1px solid #999;
	box-shadow: 0px 1px 7px rgba(0,0,0,0.2);

}

.screenshot {
	max-width: 70%;
	height: auto;
	width: auto\9; /* ie8 */
	margin: 0 1em 1em 0;
	border: 1px solid #FFF;

}

.gif {
	max-width: 30%;
	height: auto;
	margin: 0 1em 1em 0;
	border: 1px solid #FFF;
}

.callToAction {
	margin: 2em 0 0 0;
}