@import "base";

.post-preview {
	clear: both;

	.thumbnail {
		width: 12em;
		float: left;
		margin: 0 1em 1em 0;
		border: 1px solid #eee;
	}
}

.post {
	.main-image {
		display: block;
		margin: 0 auto;
	}

	.caption {
		color: #999;
		font-size: 0.8em;
		text-align: center;
	}

	img {
		max-width: 100%;
	}
}