@import "base";

.nav {
	width: 100%;
	text-align: center;
	padding-left: 8em;
	position: relative;
	@include border-box;
	margin: 0 0 2em 0;
	border-bottom: 1px solid #eee;

	ul {
		display: inline-block;
		margin: 0 auto;
		padding: 0;
	}

	li {
		display: inline-block;
		list-style: none;
		font-size: 1.4em;
		padding: 1em;

		&:hover {
			background-color: #ddd;
		}
	}

	.logo {
		position: absolute;
		left: 0;
		top: 0;
		background-size: 8em 4em;
		width: 8em;
		height: 4em;
		padding: 0;
	}
}