<!doctype html>
<html lang='en-GB'>
<head>
	{{>meta}}
	
	<title>{{title}} | Science: Gamed</title>
	
	{{>fonts}}
	{{>favicon}}
	{{>css}}
	{{>analytics}}
</head>

<body>

	
	{{>header}}

	<div class='content'>
		<div class='main'>
			<div class='block'>
				{{>post}}
			</div>

			<div class='block'>
				<script>
					disqus_identifier = '{{pathPrefix}}/{{{path}}}';
				</script>
				{{>disqus}}
			</div>
		</div>


		<div class='aside box'>
			<div class='block'>
				{{>recentBlogPosts}}
			</div>

			<div class='block'>
				{{>twitter}}
			</div>
		</div>
	</div>


	{{>footer}}
</body>
</html>