<!doctype html>
<html lang='en-GB'>
<head>
	{{>meta}}
	
	<title>{{title}} | Science: Gamed</title>
	
	{{>fonts}}
	{{>favicon}}
	{{>css}}
	{{>analytics}}
</head>

<body>

	
	{{>header}}

	<div class='content'>
		<div class='main'>
			<div class='block'>
				<h1>Posts tagged '{{tag.name}}'</h1>

				{{#posts}}
				{{>postPreview}}
				{{/posts}}
			</div>
		</div>


		<div class='aside'>
			<div class='block'>
				<h2>aside content goes here...</h2>
			</div>
		</div>
	</div>


	{{>footer}}
</body>
</html>