@media -sass-debug-info{filename{}line{font-family:\000033}}
body {
  font-family: 'Varela Round', 'Arial', 'serif';
  font-size: 16px;
  color: #333;
  background: url(assets/images/grid2x.png);
  background-size: 200px 200px;
  margin: 0;
  min-width: 20em;
  line-height: 1.5;
}

@media -sass-debug-info{filename{}line{font-family:\0000314}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  margin: 0 0 0.4em 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000319}}
h1 {
  font-size: 3em;
}

@media -sass-debug-info{filename{}line{font-family:\0000323}}
h2 {
  font-size: 2em;
  font-weight: bold;
}

@media -sass-debug-info{filename{}line{font-family:\0000327}}
h3 {
  font-size: 1.5em;
  font-weight: bold;
}

@media -sass-debug-info{filename{}line{font-family:\0000332}}
h6 {
  font-size: 2em;
  background: cornflowerblue;
  color: white;
}

@media -sass-debug-info{filename{}line{font-family:\0000339}}
p {
  margin: 0 0 1em 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000344}}
p.instructions {
  margin: 0 0 1em 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000348}}
p.disease {
  color: red;
  -webkit-animation-name: disease;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes disease {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes disease {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes disease {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@media -sass-debug-info{filename{}line{font-family:\0000387}}
a {
  color: #3365e2;
  text-decoration: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000393}}
.tooltip {
  cursor: pointer;
}

@media -sass-debug-info{filename{}line{font-family:\0000399}}
button, .mate {
  border: 1px solid #777777;
  background: url(assets/images/exercise.jpg);
  padding: 0.3em;
  cursor: pointer;
  border-radius: 0.3em;
  display: block;
  margin: 0 auto 0.5em auto;
}

@media -sass-debug-info{filename{}line{font-family:\00003111}}
.gameButton {
  -moz-box-shadow: inset -1px 19px 31px -7px #97c4fe;
  -webkit-box-shadow: inset -1px 19px 31px -7px #97c4fe;
  box-shadow: inset -1px 19px 31px -7px #97c4fe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  background: -moz-linear-gradient(center top, #3d94f6 5%, #1e62d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background-color: #3d94f6;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 0;
  border: 1px solid #337fed;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  height: 2em;
  width: auto;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #1570cd;
}

@media -sass-debug-info{filename{}line{font-family:\00003145}}
.gameButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
  background: -moz-linear-gradient(center top, #1e62d0 5%, #3d94f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
  background-color: #1e62d0;
}

@media -sass-debug-info{filename{}line{font-family:\00003150}}
.gameButton:active {
  position: relative;
  top: 1px;
}

/* This button was generated using CSSButtonGenerator.com */
@media -sass-debug-info{filename{}line{font-family:\00003158}}
.info {
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: -5em 2em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{}line{font-family:\00003168}}
.info-upgrades {
  background-color: #9FD3F5;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: -5em 2em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{}line{font-family:\00003178}}
.diseaseTable {
  color: red;
  line-height: 1.5em;
  display: inline-table;
}

@media -sass-debug-info{filename{}line{font-family:\00003184}}
.diseaseDescription {
  width: 50%;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\000033}}
.wrap {
  position: relative;
  max-width: 70em;
  margin: 0 auto 2em auto;
  padding: 1em 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/_base\.scss}line{font-family:\0000324}}
.wrap:before, .wrap:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/_base\.scss}line{font-family:\0000329}}
.wrap:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/_base\.scss}line{font-family:\0000333}}
.wrap {
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\0000314}}
.foodGrid {
  position: relative;
  width: 70%;
  height: 30em;
  float: right;
  padding: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\0000322}}
.foodItem {
  position: relative;
  border-radius: 0.2em;
  margin: 0.05em;
  text-align: left;
  background-color: #A5C3F0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 10em;
  height: 10em;
  float: left;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\0000337}}
.foodItem.selected {
  background-color: #85A2F9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\0000345}}
.instructions-info {
  position: relative;
  width: 25%;
  float: left;
  text-align: center;
  padding: 0.5em 0.1em 0 0.5em;
  margin-left: 2em;
  background-color: #C6F5CD;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\0000356}}
.instructions-info .image {
  height: 50%;
  width: 30%;
  float: left;
  padding: 0 0.5em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\0000366}}
p {
  margin: 0 0 1em 0;
  line-height: 1.5;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\0000373}}
buttonLeft {
  border: 1px solid #777777;
  background: #386BF5;
  color: white;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 0.3em;
  display: block;
  margin: 0 auto 0.5em auto;
  width: 40%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\0000385}}
buttonRight {
  border: 1px solid #777777;
  background: #386BF5;
  color: white;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 0.3em;
  display: block;
  margin: 0 auto 0.5em auto;
  width: 40%;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\0000399}}
.score {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\00003103}}
.calories {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\00003107}}
#instructions {
  font: 16px 'PT Mono', Cambria, Georgia;
  color: #282625;
  margin: 0 auto;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\00003116}}
.mugshot-exercise {
  max-height: 200px;
  cursor: pointer;
  max-width: 150px;
  height: auto;
  width: auto;
  display: block;
  margin: 1em auto 0.5em auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\00003131}}
.paper {
  padding: 0.5em;
  position: relative;
  border: 1px solid #B5B5B5;
  background: white;
  background: -webkit-linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  background: -moz-linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  background: linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\00003145}}
.paper::before {
  content: "";
  z-index: -1;
  margin: 0 1px;
  height: 10px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: white;
  border: 1px solid #B5B5B5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\00003157}}
.paper::after {
  content: '';
  position: absolute;
  width: 0px;
  top: 0;
  left: 39px;
  bottom: 0;
  border-left: 1px solid #F8D3D3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\00003168}}
.man {
  position: relative;
  left: 3%;
  max-height: 100px;
  max-width: 150px;
  height: auto;
  width: auto;
  display: inline-block;
  margin: 1em auto 0.5em auto;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\00003181}}
.woman {
  position: relative;
  right: 3%;
  max-height: 100px;
  max-width: 150px;
  height: auto;
  width: auto;
  display: inline-block;
  margin: 1em auto 0.5em auto;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\00003198}}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/layout\.scss}line{font-family:\00003204}}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/footer\.scss}line{font-family:\000033}}
footer {
  background-color: #FFFFFF;
  margin: 0;
  padding: 1em;
  background: white;
  background-size: auto 100%;
  clear: all;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/_base\.scss}line{font-family:\0000324}}
footer:before, footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/_base\.scss}line{font-family:\0000329}}
footer:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/_base\.scss}line{font-family:\0000333}}
footer {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/footer\.scss}line{font-family:\0000312}}
footer p, footer li {
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/footer\.scss}line{font-family:\0000317}}
.footer-smallprint {
  color: #DBDBDB;
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\000033}}
.dialog-wrapper {
  position: absolute;
  width: 100%;
  margin-top: 5%;
  top: 50%;
  left: 0;
  text-align: center;
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\0000316}}
.dialog {
  margin: 3em auto;
  display: inline-block;
  -webkit-transform: translate(0, -65%);
  -moz-transform: translate(0, -65%);
  -ms-transform: translate(0, -65%);
  -o-transform: translate(0, -65%);
  transform: translate(0, -65%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\0000325}}
.dialog .image {
  height: 25%;
  width: 25%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\0000332}}
.dialog-tooltips {
  background-color: #97F294;
  margin: 0.5em;
  border: 1px solid #333;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\0000344}}
.dialog-tooltips .image {
  height: 25%;
  width: 25%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\0000351}}
.dialog-end {
  margin: 3em auto;
  display: inline-block;
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\0000360}}
.dialog-end .image {
  height: 25%;
  width: 25%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\0000367}}
.dialog-endEarly {
  margin: 3em auto;
  display: inline-block;
  -webkit-transform: translate(0, -40%);
  -moz-transform: translate(0, -40%);
  -ms-transform: translate(0, -40%);
  -o-transform: translate(0, -40%);
  transform: translate(0, -40%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\0000376}}
.dialog-endEarly .image {
  height: 25%;
  width: 25%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\0000383}}
.upgrade {
  background-color: #97F294;
  margin: 0.5em;
  border: 1px solid #333;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\0000394}}
.dialog-wrapper-upgrades {
  position: absolute;
  width: 100%;
  margin-top: 5%;
  top: 50%;
  left: 0;
  text-align: center;
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003105}}
.dialog-wrapper-endEarly {
  position: absolute;
  width: 100%;
  margin-top: 5%;
  top: 50%;
  left: 0;
  text-align: center;
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003116}}
.dialog-wrapper-cells {
  position: absolute;
  width: 100%;
  margin-top: 5%;
  top: 50%;
  left: 0;
  text-align: center;
  z-index: 10;
  -webkit-transform: translate(0, -45%);
  -moz-transform: translate(0, -45%);
  -ms-transform: translate(0, -45%);
  -o-transform: translate(0, -45%);
  transform: translate(0, -45%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003131}}
.dialog-wrapper-analysis {
  position: absolute;
  background-color: #97F294;
  width: 100%;
  margin-top: -20%;
  top: 50%;
  left: 0;
  text-align: center;
  z-index: 10;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003146}}
.dialog-cell-name {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 1;
  padding: 0.5em;
  text-align: center;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003158}}
.dialog-cell-details {
  width: 100%;
  height: 100%;
  padding: 0.5em 0;
  border-top: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003166}}
.dialog-cell-details p {
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003171}}
.dialog-cell-mugshot {
  max-height: 100px;
  cursor: pointer;
  max-width: 150px;
  height: auto;
  width: auto;
  display: block;
  margin: 1em auto 0.5em auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003186}}
.dialog-cell {
  display: inline-block;
  border-radius: 0.2em;
  margin: 0.05em;
  text-align: left;
  background-color: #A5C3F0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  width: 10em;
  height: 10em;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003199}}
.dialog-cell.selected {
  background-color: #85A2F9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003205}}
.caloriesOverTime {
  background-color: #CBF393;
  border: 1px solid #333;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003211}}
.thisScorevsLastScore {
  background-color: #A2F7A8;
  border: 1px solid #333;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003218}}
.thisScorevsLastScore rect {
  fill: steelblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003222}}
.timeSpentReading {
  border: 1px solid #333;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #BBE8F7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/dialog\.scss}line{font-family:\00003230}}
.distanceTravelled {
  border: 1px solid #333;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #B9D4F6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/header\.scss}line{font-family:\000033}}
header {
  background-color: white;
  padding: 0.5em 1em;
  margin: 0 0 1em 0;
  border-bottom: 1px solid #999;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/header\.scss}line{font-family:\0000310}}
header h1 {
  font-size: 2em;
  line-height: 1;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/header\.scss}line{font-family:\0000317}}
.nav {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/header\.scss}line{font-family:\0000323}}
.nav img {
  height: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/food\.scss}line{font-family:\000033}}
.name {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 1;
  padding: 0.5em;
  text-align: center;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/food\.scss}line{font-family:\0000316}}
.details {
  width: 100%;
  height: 100%;
  padding: 0.5em 0;
  border-top: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/food\.scss}line{font-family:\0000324}}
.details p {
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/food\.scss}line{font-family:\0000329}}
.mugshot {
  max-height: 100px;
  cursor: pointer;
  max-width: 150px;
  height: auto;
  width: auto;
  display: block;
  margin: 1em auto 0.5em auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/graphs\.scss}line{font-family:\000033}}
.bar {
  fill: steelblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/graphs\.scss}line{font-family:\000037}}
.bar:hover {
  fill: brown;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/graphs\.scss}line{font-family:\0000311}}
.axis {
  font: 10px sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/graphs\.scss}line{font-family:\0000316}}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/graphs\.scss}line{font-family:\0000322}}
.x.axis path {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/graphs\.scss}line{font-family:\0000326}}
.chart rect {
  fill: steelblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/graphs\.scss}line{font-family:\0000330}}
.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/cell\.scss}line{font-family:\000033}}
.cell {
  position: relative;
  float: left;
  margin-left: 5%;
  margin: 0.5em 0em 0.5em 5%;
  border: 1px solid #333;
  border-radius: 0.2em;
  width: 18em;
  height: 13em;
  text-align: left;
  background-color: #FEFCFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/cell\.scss}line{font-family:\0000319}}
.cell-front {
  height: 100%;
  position: relative;
  padding: 2em 0.5em 8em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/cell\.scss}line{font-family:\0000327}}
.cell-back {
  height: inherit;
  background: url(assets/images/locked.jpg) no-repeat 50% 50%;
  background-size: contain;
  background-position: top;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/cell\.scss}line{font-family:\0000340}}
.cell-back.faded {
  opacity: 0.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/cell\.scss}line{font-family:\0000345}}
.cell-name {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 1;
  padding: 0.5em;
  text-align: center;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/cell\.scss}line{font-family:\0000357}}
.cell-details {
  width: 100%;
  height: 100%;
  padding: 0.5em 0;
  border-top: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/cell\.scss}line{font-family:\0000364}}
.cell-details p {
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/cell\.scss}line{font-family:\0000369}}
.cell-mugshot {
  height: 7.5em;
  width: 10em;
  float: right;
  margin: 0 0 0.5em 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardchatwin\/Sites\/get-fat-and-die\/get-fat-and-die\/Project\/styles\/cell\.scss}line{font-family:\0000376}}
.cell-footer {
  clear: both;
  padding: 0.5em;
}
