@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/haggis\/Dropbox\/dev\/sciencegamed\.co\.uk\/project\/sass-styles\/block\.scss}line{font-family:\000033}}
.block {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eee;
  padding: 1em;
  margin: 0 0 2em 0; }
