@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/haggis\/Dropbox\/dev\/sciencegamed\.co\.uk\/project\/sass-styles\/footer\.scss}line{font-family:\000033}}
.footer {
  text-align: center;
  border-top: 1px solid #eee;
  padding-top: 1em;
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/haggis\/Dropbox\/dev\/sciencegamed\.co\.uk\/project\/sass-styles\/footer\.scss}line{font-family:\000039}}
  .footer p {
    font-size: 1em;
    color: #999; }
